body{
  padding-top: 90px;
}

/*----------------------------Banner.jsx---------------------------------*/
.banner-container{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
}

.banner-content {
  position: relative;
  top: 200px;
  width: 50%;
  text-align: center; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.5);  /* Add a semi-transparent background for better readability */
  border-radius: 10px;    /* Optional: Round the corners */
}
/*----------------------------Navbar---------------------------------*/
.form{
  display: flex;
  position: relative;
  left: 80px;
  justify-content: flex-end;

}
.link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.child{
  margin-right: 35px;
  font-size: 2rem;
}
.navbar-fixed {
  position: fixed !important;
  top: 0 ;
  left: 0;
  width: 100%;
  z-index: 9999; /* Ensures Navbar stays above other content */
  box-shadow: 0 4px 2px -2px gray;
}
.nav-bar a:hover{
  text-decoration: underline;
  color: black;
  transition: all 0.5s linear;   /* not working*/
}

/*----------------------------Movie.jsx----------------------------------------*/

.Container h2{
  text-align: center;
  margin-top: 16px;
  color: black;
  text-shadow: 2px 2px 4px #ffc107;
}
.child-container{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-around; 
  /* gap: 15px; */
  position: relative;
  top: 10px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card{
  color: black;
  border:none;
  border-radius: 25px;
  cursor: pointer;
  height: 450px !important;
  width: 18rem;
  border: 1px solid rgba(0, 0, 0, 0.2) ;
  transition: transform 0.3s ease; /* Smooth transition for zoom effect */
  background: linear-gradient(to bottom , black,#bebdbf);
}
.card:hover {
  transform: scale(1.02); /* Zoom the card slightly on hover */
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.9); /* Add a subtle shadow on hover */
}
/* .card img{
  border-radius: 20px;
  padding: 15px;
} */

/*----------------------------Banner.jsx----------------------------------------*/

.banner-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
}

.banner-content {
  position: relative;
  top: 200px;
  width: 50%;
  text-align: center; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.5);  /* Add a semi-transparent background for better readability */
  border-radius: 10px;    /* Optional: Round the corners */
}

/*--------------------------------------------Movie_Details.jsx---------------------------------------------------------*/
.detail-page-parent{
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.detail-page-child{
  margin-top: 20px;
  height: 550px;
  width: 500px;
  text-align: center;
  padding-top: 20px;
  border-radius: 18px;
  color: whitesmoke;
  cursor: pointer;
  /* background-image:linear-gradient(to right, rgba(11, 1, 1, 0.6), rgb(10, 1, 1,1)); */
  background-color: rgba(11, 1, 1, 0.6);
  border: 3px solid black;
}
.detail-page-child:hover{
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.9);
  transform: scale(1.02);

}

